 <div class="header">
 	<ul class="nav nav-pills pull-right">
 		<li><a ng-href="#/app">Apps</a></li>
 		<li><a ng-href="#/activity">Activity</a></li>
 		<li><a ng-href="#/map">Map</a></li>
 		<li><a ng-href="#/chat">Screenshot</a></li>
 		<li><a ng-href="#/">Logout</a></li>
 		<!--  <li><a ng-href="#">Contact</a></li>-->
 	</ul>
 	<h3 class="text-muted">Cloud Monitor</h3>
 </div>

 <div class="row">

 	<div class="col-sm-2" >

 		<!--Device info -->
 		<devicetitle>{{devicename}}</devicetitle>
 		<br>
 		<devicestatus>Status: <span ng-style="customStyle.style">{{onlinestatus}}</span></devicestatus>
 		<br>
 		<devicestatus>Type: {{devicetype}}</devicestatus>
 		<br>
 		<devicestatus>{{onlinetime}}</devicestatus>
 		<br>
 		<br>

 		<!--Device navigation bar -->
 		<div class="sidebar-nav">
 			<div class="navbar navbar-default" role="navigation">
 				<div class="navbar-header">
 					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
 						<span class="sr-only">Toggle navigation</span>
 						<span class="icon-bar"></span>
 						<span class="icon-bar"></span>
 						<span class="icon-bar"></span>
 					</button>
 					<span class="visible-xs navbar-brand">Devices</span>
 				</div>
 				<div class="navbar-collapse collapse sidebar-navbar-collapse">
 					<li class="active">Devices</li>
 					<ul class="nav navbar-nav" ng-repeat="device in deviceData">
 						<li class="active" ng-click="onDeviceClick($index)"><a nohref="nohref" style="cursor:pointer;">{{device}}</a></li>
 						<!-- <li><a href="#">Menu Item 2</a></li>-->

 					</ul>
 				</div><!--/.nav-collapse -->
 			</div>
 		</div>

 	</div>

 	<!--Chart -->
 	<div class="col-sm-10">

 		<div ac-chart="chartType" ac-data="chartdata" ac-config="chartconfig" id='chart' class='chart'></div>
 		<p></p> 

 	</div>

 	<!--Table -->
 	<div class="col-sm-10 col-sm-offset-2">
			<br>
			<br>
			<!--Table -->
			<div class="table-responsive">
				<table class="table table-striped table-bordered">
					<thead>
						<th>Device</th>
						<th>Date</th>
						<th>Awake</th>
						<th>Sleep</th>
						<th>Duration (min)</th>
					</thead>
					<tbody ng-repeat="data in tableDataArray">
						<tr>
							<td>{{data.device}}</td>
							<td>{{data.day}}</td>
							<td>{{data.start}}</td>
							<td>{{data.stop}}</td>
							<td>{{data.dur}}</td>
						</tr>
					</tbody>
				</table>
			</div>
	</div>

</div> 
