<script>
	'use strict';
	function getSnapshotStatus(){

		var factory;
		var status;

		factory = angular.element('*[ng-app]').injector().get('snapshotFactory');
		status = factory.getSnapshotRequested();
		return status;
	}

	function getUser() {
		var factory = angular.element('*[ng-app]').injector().get('loginFactory');
		var user = factory.getUser();
		return user;
	}

	function getPass() {
		var factory = angular.element('*[ng-app]').injector().get('loginFactory');
		var pass = factory.getPass();
		return pass;
	}

	function ready(){
		return 'chatclient';
	}

</script>

<div id="chatclient" class="jumbotron" >
	User: {{username}}
	<br>
	<a ng-href="/#/clientlogin">Logout</a>
	<br>
	<br>

	<p align="center">Succesfully logging data to devicemonit.com</p>
	<br>
</div>


