 <div class="header">
    <ul class="nav nav-pills pull-right">
        <li><a ng-href="#/">Home</a></li>
    </ul>
    <h3 class="text-muted">Cloud Monitor</h3>
 </div>

<!--TODO - http://www.ng-newsletter.com/posts/validations.html!-->


 <div class="container">
    <div class="jumbotron">
	  <form novalidate class="myForm" name="myForm">
      
	  		<h1>Welcome</h1>
             <!-- Error messages!-->
             <span class="alert" ng-show="flash.show()">
                <p>{{flash.getMessage()}}</p>
            </span>
            <br>

    		E-mail:<br/>
    		<input type="email" name="input" ng-model="user.email" required />
    			<!--<span ng-show="myForm.input.$error.required">required</span>!-->
    			<span ng-show="myForm.input.$error.email">not a valid email</span>  
    		<br/><br/>
    		Password:<br/>
    		<input type="password" name="myPassword" ng-model="user.password" ng-minlength=4 required/>
    			<!--<span ng-show="myForm.myPassword.$error.required"> required</span>!-->
    			<span ng-show="myForm.myPassword.$error.minlength"> min length is 4</span> 
    		<br/><br/>

    		<p><a class="btn btn-lg btn-success" id="loginbutton" ng-click="login()">Login<span class="glyphicon glyphicon-ok"></span></a></p>

    		<a ng-href="/#/createaccount">add account</a>
    		<br/><br/>
  	  </form>
    </div>
</div>
